body{margin:0px;font-family:arial;font-weight:100;color:#555;line-height:1.5;font-size: 18px;}
code{font-size:16px;color:#006064;}
.main{width:65%;margin:auto;margin-top:100px;margin-bottom:120px;}
h1{font-weight:lighter;}
h2{font-weight:lighter;border-bottom:1px dashed #666;}
a{color:inherit;}
b{font-weight:400;color:#000;}
pre{overflow-x:auto;overflow-y: hidden;color:darkslategrey;font-size:14px; padding:0px;line-height:.8;margin-top:-10px;}
.pad{padding-left:20px;}